/* html,
body {
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
*/
.buttonGroup {
  width: 100vh;
  height: 100vh;
}

.chessboard {
  max-width: calc(min(100%, 80vh));
  max-height: calc(min(100%, 80vh));
}

.camera {
  max-width: calc(min(100%, 100vh));
  max-height: calc(min(100%, 100vh));
}

.loadingPage {
  height: 100vh;
  width: 100vh;
}

input[type="file"] {
  display: none;
}

.MuiLinearProgress-colorPrimary {
  background-color: rgb(0, 0, 0);
}

.MuiLinearProgress-barColorPrimary {
  background-color: rgb(255, 255, 255);
}

.progress_main_bar {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.progress_bar {
  background-color: rgb(211, 208, 208);
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.4s linear;
  transform-origin: bottom;
}
